<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.levtech.rookie.portfolio.repository.master.MerchantMasterMapper">

	<select id="list" resultType="jp.levtech.rookie.portfolio.dto.MasterDto">
	SELECT
		mm.id,
		mm.merchant_name AS name,
		mm.category_id AS categoryId,
		cm.category_name AS categoryName
	FROM mufg_credit_merchant_master mm
	LEFT JOIN category_master cm
		ON cm.id = mm.category_id
	ORDER BY mm.id
	</select>
</mapper>