<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<p><a th:href="@{/masters/category}">カテゴリ一覧へ戻る</a></p>
<form method="post"
      th:action="@{/masters/category/{id}/update(id=${category.id})}">
    <input type="text" name="categoryName"
           th:value="${category.name}">
    <button type="submit">更新</button>
</form>

<p th:if="${successMessage}" th:text="${successMessage}"></p>
<p th:if="${errorMessage}" th:text="${errorMessage}"></p>

</body>
</html>