<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ポートフォリオ -支出可視化-</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="container">
		<h1 class="title">ダッシュボード</h1>
		<div class="top-row">
			<section class="card menu">
				<h2>メニュー</h2>
				<ul class="menu-list">
					<li><a th:href="@{/csv/import}">CSV取り込み</a></li>
					<li><a th:href="@{/masters}">マスタ管理</a></li>
					<li><a th:href="@{/graph/monthly-amount}">月次支出推移</a></li>
				</ul>
				<h2>三菱UFJ銀行-HP-</h2>
				<ul class="menu-list">
					<li><a th:href="@{https://www.bk.mufg.jp/index.html}" target="_blank">三菱UFJ銀行</a></li>
					<li><a th:href="@{https://www.cr.mufg.jp/}" target="_blank">三菱UFJニコス</a></li>
				</ul>
			</section>
				<section class="card summary">
					<h2>サマリー</h2>
					<p>対象月：<span th:text="${Label.currentMonthLabel}"></span></p>
					<p>今月の支出：<span th:utext="${Label.currentMonthTotalLabel}"></span></p>
					<p>前月の支出：<span th:utext="${Label.previousMonthTotalLabel}"></span></p>
					<p>前月との差額：<span th:utext="${Label.diffAmountLabel}"></span></p>
					<p>前月比：<span th:text="${Label.diffPercentLabel}"></span></p>
				</section>
		</div>
		<div class="dashboard-row">
				<section class="card dashboard">
					<h2>カテゴリ別 -割合-</h2>
					<canvas id="categoryPieChart"></canvas>
				</section>
				<section class="card dashboard">
					<h2>カテゴリ別 -前月比-</h2>
					<canvas id="categoryBarChart"></canvas>
			</section>
		</div>

	</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/category-pie-chart.js"></script>
<script src="/js/category-bar-chart.js"></script>

</body>
</html>
