<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>家計簿</title>
</head>
<body>
	<h1>家計簿ダッシュボード</h1>
	<section>
		<h2>月次支出サマリー</h2>
		<p>対象月：<span th:text="${summary.month}"></span></p>
		<p>今月の支出：
			<span th:text="${summary.thisMonthTotal == null
			               ? '－'
			               : #numbers.formatInteger(summary.thisMonthTotal, 1, 'COMMA')}">－
			</span>円
		</p>

		<p>前月の支出：
			<span th:text="${summary.prevMonthTotal == null
			                ? '－'
			                : #numbers.formatInteger(summary.prevMonthTotal, 1, 'COMMA')}">－
			</span>円
	  	</p>
		<p>前月との差額：
			<span th:text="${summary.diffAmount == null
			               ? '－'
			               : #numbers.formatInteger(summary.diffAmount, 1, 'COMMA')}">－
			</span>円
		</p>
		<p>前月比：
			<span th:text="${summary.diffRate == null
			               ? '－'
			               : #numbers.formatDecimal(summary.diffRate * 100, 1, 1)}">－
			</span>%
		</p>
	</section>
	<hr/>
	<section>
		<h2>カテゴリ別支出</h2>
		<canvas id="categoryPieChart" width="500" height="500"></canvas>
	</section>
	<section>
		<h2>メニュー</h2>
		<ul>
			<li><a th:href="@{/csv/import}">CSV取り込み</a></li>
			<li><a th:href="@{/masters}">マスタ管理</a></li>
			<li><a href="#">AI 分析（後で実装）</a></li>
	 	 </ul>
	</section>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="/js/category-pie-chart.js"></script>
</body>
</html>
